@font-face {
  font-display: swap;
  font-family: Gilroy;
  font-style: normal;
  font-weight: 500;
  src: url('./public/fonts/Gilroy-Light.woff2') format("woff2");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Gilroy';
}

body {
  background-color: #080710;
}

.btn-reset {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none; 
  border: none;
  cursor: pointer;
}